
:root.theme-light {
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --section-title-color: #353430;
  --text-color: #353430;
  --subtitle-text-color: #353430;
  --title-text-color: #ffc2e6;
  --btn-hover-color: #32312d66;
  --bg-image: url(../images/cover-image-light.png);
}

:root.theme-light .header__decorated-item {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --section-title-color: #353430;
    --text-color: #353430;
    --subtitle-text-color: #353430;
    --title-text-color: #ffc2e6;
    --btn-hover-color: #32312d66;
    --bg-image: url(../images/cover-image-light.png);
  }

  :root .header__decorated-item {
    display: none;
  }
}